@using Microsoft.EntityFrameworkCore
@using ecocivicom_blazor_clone.Data
@using Markdig

@page "/nos-formations"

@inject IDbContextFactory<FormationsCategoriesDataContext> FormationsCategoriesDataContextFactory;

<div class="container">
  <TitleWithSeparator MainColor="f-mgray" Name="Nos Formations en Prévention des Risques" HType=@TitleWithSeparatorHType.H1 />
  <div class="formations-wrapper flex-center justify-content-evenly flex-wrap gap-5 text-justify">
    @if (@NosFormations is not null && @NosFormations.Count > 0)
    {
      @foreach(var formation in NosFormations)
      {
        <div class="formation-card">
          <NavLink href="@($"nos-formations/{formation.Slug}")">
          <img class="mb-2" src="@formation.Image" alt="risque routier">
          </NavLink>
          @if(formation.Description != String.Empty && formation.Description != null)
          {
            var result = Markdown.ToHtml(formation.Description);
            var markupString = (MarkupString)new MarkupString(result.ToString());
            @markupString;
          }
        </div>
      }
    }
  </div>
</div>