#carouselExampleControls {
  height: 250px;
}

#carouselExampleControls img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Black and white filter */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel-inner {
  height: 100%;
}

#prestations-interventions-section {
  height: 380px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.pi-card {
  width: 45%;
}
