@inherits LayoutComponentBase

<PageTitle>ecocivicom_blazor_clone</PageTitle>

<div class="page">
  <div class="navbar">
    <NavMenu />
  </div>

  <main>
    <article class="content px-4">@Body</article>
  </main>
</div>


