<div class="top-row ps-3 navbar navbar-dark">
        
</div>
<div class="container flex-center">
    <nav>
        <ul class="list-unstyled d-flex">
            <li class="p-0 m-0">
                <a class="navbar-brand text-primary hover-primary" href="">ECOCIVICOM</a>
            </li>
            <div class="bg-mgray flex-center">
                @foreach (var e in MenuElements)
                {
                    <CascadingValue Value="@e.Name" Name="Name">
                        <CascadingValue Value="@e.Href" Name="Href">
                            <CascadingValue Value="@e.SubElements">
                                <NavMenuItem/>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                }
            </div>
        </ul>
    </nav>   
</div>  
