::deep .nav-link:hover {
  background-color: rgba(136, 143, 166, 1) !important;
  transition: 0.5s;
}

::deep .current-link {
  background-color: rgba(38, 71, 137, 1) !important;
  position: relative;
}
::deep .current-link:hover {
  background-color: rgba(38, 71, 137, 1) !important;
}

::deep .current-link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 100%;
  border-style: solid;
  border-width: 15px;
  border-color: rgba(38, 71, 137, 1) transparent transparent transparent;
}
